.vscode/
.env
backend/app/models/__pycache__/application.cpython-313.pyc
backend/app/models/__pycache__/job.cpython-313.pyc
backend/app/models/__pycache__/recommendation.cpython-313.pyc
backend/app/models/__pycache__/resume.cpython-313.pyc
backend/app/models/__pycache__/token.cpython-313.pyc
backend/app/models/__pycache__/user.cpython-313.pyc
backend/app/database/__pycache__/base.cpython-313.pyc
backend/app/database/__pycache__/session.cpython-313.pyc
backend/app/crud/__pycache__/job.cpython-313.pyc
backend/app/crud/__pycache__/token.cpython-313.pyc
backend/app/crud/__pycache__/user.cpython-313.pyc
backend/app/core/__pycache__/config.cpython-313.pyc
backend/app/core/__pycache__/security.cpython-313.pyc
.gitignore
.gitignore
backend/app/listeners/__pycache__/token_listeners.cpython-313.pyc
backend/app/listeners/__pycache__/user_listeners.cpython-313.pyc
.gitignore
backend/app/schemas/__pycache__/job.cpython-313.pyc
backend/app/schemas/__pycache__/user.cpython-313.pyc
backend/app/api/__pycache__/dependencies.cpython-313.pyc
backend/app/__pycache__/main.cpython-313.pyc
